{% extends "base.html" %}
{% block content %}
<div class="container mt-300">
  <div class="row">
    <div class="col-md-6 offset-md-3 text-center">

      {% if user.is_authenticated %}
	  <h2>You are already authenticated...</h2>
	  <p><strong>Access Token: </strong> {{ user.access_token }}</p>
	  <p><strong>ID Token: </strong> {{ user.id_token }}</p>

          {% url 'logout' as logout_url %}
	  <a href="{{ logout_url }}" class="btn btn-primary btn-lg">
	    <i class="fas fa-fingerprint"></i>Logout
	  </a>

        {% else %}

	  {% url 'auth' as auth_url %}
	  <a href="{{ auth_url }}" class="btn btn-primary btn-lg">
	    <i class="fas fa-fingerprint"></i>Login with FIDO UAF and OpenID Connect
	  </a>

       {% endif %}

      <hr>
      <a class="login-links left" href="">Mobile App</a> &#124;
      <a class="login-links right" href="">Privacy Policy</a> &#124;
      <a class="login-links right" href="">Terms</a>
    </div>
  </div>
</div>
{% endblock %}
